@import "../../../commonWeb/resource/common.less";

h1{
    font-size:20px;
    font-weight:bold;
    text-shadow:3px 3px 5px red; 
    transform:translateX( 10px );
    color:#b6ff00;
}

button{
    padding:3px 10px;
    border:solid 1px #ccc;
    border-radius:5px;
    display:block;
    .size(100px,50px);
    .arrow(right,#ccc);
}
    