body {
    padding: 20px;
    width: calc(100% - 40px);
    min-width: inherit;
}

h1 {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    font-size: 34px;
    color: rgb(51, 51, 51);
    line-height: 1.1;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 1em;
}

    p b {
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 1em;
    }

h2 {
    padding-top: 20px;
    padding-bottom: 9px;
    margin: 0px 0 20px;
    font-size: 28px;
    color: rgb(51, 51, 51);
    line-height: 1.1;
    font-weight: 500;
    border-bottom: solid 1px #efefef;
}

h3 {
    padding-top: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    margin: 0px 0 20px;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 1.1;
    font-weight: 500;
    position: relative;
}

h4 {
    padding-top: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    margin: 0px 0 20px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.1;
    font-weight: 500;
    position: relative;
}

    h4:after {
        position: absolute;
        z-index: -1;
        content: '';
        left: 0px;
        top: 15px;
        width: 10px;
        height: 30px;
        background: #0094ff;
    }

img {
    display: block;
    margin: 10px auto;
    max-width: 90%;
}



h3:after {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0px;
    top: 15px;
    width: 10px;
    height: 30px;
    background: #4cff00;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table.param tr td {
        width: 20%;
        line-height: 25px;
        border: solid 1px #999;
        padding: 3px 10px;
        color: #222;
        font-size: 14px;
    }

        table.param tr td p {
            font-size: 14px;
        }

    table.param thead tr {
        background: #eee;
    }

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}


iframe {
    border: solid 1px #efefef;
}

.tip{
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #f66;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;

}

.tip::before{
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    content: "!";
    background-color: #f66;
}

.demoNavMin {
    position: fixed;
    right: 15px;
    top: 10px;
    width: 64px;
    height: 64px;
    background: url(images/bookmark.png) no-repeat center center;
    z-index: 999;
}

.demoNav {
    position: fixed;
    right: 15px;
    top: 10px;
    display: none;
    background: #f3f3f3;
    border: #efefef;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    z-index: 999;
    overflow: auto;
    max-height: 90%;
}

    .demoNav li {
        line-height: 25px;
        overflow: hidden;
        height: 25px;
    }

        .demoNav li a {
            color: #080808;
        }

.iframeOption {
    margin-bottom: 10px;
    text-align: right;
}

    .iframeOption a {
        margin-right: 10px;
        background: #ffd800;
        padding: 3px 10px;
        color: #fff;
    }


.syntaxhighlighter {
    padding: 10px 0;
}

    .syntaxhighlighter .toolbar {
        display: none;
    }

.tree {
    padding: 10px;
    border-radius: 5px;
    background: #efefef;
}

    .tree div {
        padding-left: 20px;
        line-height: 30px;
        position: relative;
    }

        .tree div:before {
            content: "";
            display: inline-block;
            height: 100%;
            width: 1px;
            background: #ccc;
            position: absolute;
            top: 0;
            left: 0;
        }

        .tree div:after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 20px;
            height: 1px;
            top: 14.5px;
            left: 0;
             background: #ccc;
        }
